
<div style="width: 100%; margin: 10px;">
    {{infos}}
</div>

<!-- faire un btn ici aligné à dte : click : hide/show (tblv_entete); --> 
 <button class="btn btn-secondary right" (click)="toggleTblvEntete()"> X </button>
<div id="tblv_entete" class="cadre" style="width: 100%;" (mousedown)="startResizing($event)">
    <!-- Bouton en haut -->
    <h3 style="margin: 20px; margin-top: 40px;">
        Interface sql DOIT ETRE accessible que par ADMIN
        <br>
        API_URL : {{apiUrl}}
    </h3>

    <div style="display: flex; margin: 20px;">
        <button class="btn btn-primary" (click)="getTables()">Get All Table Names</button>
        <button class="btn btn-primary" (click)="exportAllTablesToJson()">Export All Tables To Json</button>
        <button class="btn btn-primary" (click)="importFromJsonToTableSelected()">Import From Json To Selected Table</button>
        <button class="btn btn-primary" (click)="runBatchCraExportManually()">Run Batch Cra Export Manually</button>
        <button class="btn btn-primary" (click)="runBatchConsultantImportManually()">Run Batch Consultant Import Manually</button>
    </div>

    <!-- Section table sélectionnée -->
    <h3 *ngIf="selectedTable" style="width: 100%; margin-left: 20px;" >
        Table: {{ selectedTable }}
    
        <div style="margin-top: 10px;">
    
            <button class="btn btn-primary" (click)="addTableLike()">Add Table Like</button>
            <button class="btn btn-success" (click)="startEditSelectedRow()">Update Selected Row</button>
            <button class="btn btn-info" (click)="insertLikeSelectedRow()">Insert Like Selected</button>
            <button class="btn btn-primary" (click)="insertRow()">Insert Empty Row</button>
    
            <button class="btn btn-danger" (click)="confirmDeleteTable()">Delete Table</button>
            <button class="btn btn-danger" (click)="deleteSelectedRow()">Delete Selected Row</button>
    
            <div *ngIf="isEditing || isInserting" style="margin-top: 10px;">
                <button class="btn btn-primary" (click)="saveRow()">Save</button>
                <button class="btn btn-secondary" (click)="cancelEdit()">Cancel</button>
            </div>
    
        </div>
    </h3>

</div>

<!-- Layout principal -->
<div class="side-container" *ngIf="tables && tables.length">

    <!-- Liste tables -->
    <div id="tblv_liste_tbl" #leftPanel class="side-left cadre">
        <ol>
            <li *ngFor="let table of tables" (click)="selectTable(table)" [style.cursor]="'pointer'"
                [ngClass]="getClassOfTable(table)">
                {{ table }}
            </li>
        </ol>
    </div>

    <div class="resizer cadre" (mousedown)="startResizing($event)"></div>

    <!-- Onglets Data / Relations -->
    <div id="tblv_tab_content" class="side-right cadre">

        <div class="tabs-header">
            <button class="btn" [ngClass]="{ 'btn-primary': activeTab === 'data', 'btn-light': activeTab !== 'data' }"
                (click)="activeTab = 'data'">
                Data
            </button>

            <button class="btn"
                [ngClass]="{ 'btn-primary': activeTab === 'relations', 'btn-light': activeTab !== 'relations' }"
                (click)="openRelations()">
                Relations
            </button>

            <button class="btn"
                [ngClass]="{ 'btn-primary': activeTab === 'structure', 'btn-light': activeTab !== 'structure' }"
                (click)="activeTab = 'structure'">
                Structure
            </button>

            <button class="btn"
                [ngClass]="{ 'btn-primary': activeTab === 'sql', 'btn-light': activeTab !== 'sql' }"
                (click)="activeTab = 'sql'">
                Sql
            </button>
        </div>

        <div id="tblv_content_of_tab" class="tab-content">

            <!-- Onglet DATA -->
            <div *ngIf="activeTab === 'data'">
                <table *ngIf="lines && lines.length > 0" class="custom-table">
                    <thead>
                        <tr>
                            <th *ngFor="let key of getKeys(lines[0])">{{ key }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let row of lines; let i = index" (click)="selectRow(row, i)"
                            [ngClass]="{ 'row-selected': selectedRowIndex === i }">
                            <td *ngFor="let key of getKeys(row)" class="cell-content">
                                <span
                                    [title]="row[key]"
                                    (dblclick)="onCellTableDblClick($event)"
                                    (mouseenter)="onCellHover($event, row[key])"
                                    (mousemove)="onCellMove($event)"
                                    (mouseleave)="onCellLeave()"
                                >{{ row[key] }}</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <!-- Onglet RELATIONS -->
            <div *ngIf="activeTab === 'relations'">
                <app-relations-d3 [data]="relationsData" [focusedTable]="selectedTable">
                </app-relations-d3>
            </div>

            <!-- Onglet STRUCTURE -->
            <div *ngIf="activeTab === 'structure'">
                <div style="margin: 10px 0; height: 500px; overflow-y: auto;">
                    <h3 style="margin-left: 10px;">Column Metadata for Table: {{ selectedTable }}</h3>
                    <table class="table table-bordered table-sm" style="width: 100px; background: white;">
                        <thead class="table-light" style="position: sticky; top: 0; z-index: 2;">
                            <tr>
                                <th style="width: 60%;">Colonne</th>
                                <th style="width: 40%;">Type</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr *ngFor="let col of columnMetadata ">
                                <td>{{ col.columnName }}</td>
                                <td>{{ col.dataType }}</td>
                            </tr>
                        </tbody>

                    </table>
                </div>
            </div>

            <!-- Onglet SQL -->
            <div *ngIf="activeTab === 'sql'">
                <div style="padding: 10px;">

                    <button (click)="executeSql()">
                        <h3>Execute SQL</h3>
                    </button>
                    <br>

                    <textarea [(ngModel)]="sql" rows="5" cols="100"></textarea><br>

                    <div *ngIf="sqlResult?.length" class="resize-all">
                        <h4>Result:</h4>

                        <table border="1" class="custom-table">
                            <thead>
                                <tr>
                                    <th *ngFor="let key of getKeys(sqlResult[0])">{{ key }}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let row of sqlResult">
                                    <td *ngFor="let key of getKeys(row)" (click)="colDetails2 = row[key]" class="cell-content"
                                        [title]="row[key]">
                                        {{ row[key] }}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <textarea *ngIf="colDetails2" [(ngModel)]="colDetails2" rows="5" cols="100" style="width: 100%;">
                    </textarea>
                    <br>

                </div>
            </div>

        </div>

    </div>

</div>

<div
    *ngIf="tooltipVisible"
    class="cell-tooltip"
    [style.left.px]="tooltipX"
    [style.top.px]="tooltipY"
    (mouseenter)="onTooltipEnter()"
    (mouseleave)="onTooltipLeave()"
>
    {{ tooltipText }}
</div>

<!-- Section métadonnées colonnes -->
<textarea *ngIf="colDetails" [(ngModel)]="colDetails" rows="5" cols="100" style="width: 100%;">
</textarea><br>
