.form-register input[type="text"]:focus {
  background-color: #eeeeee;
}

.left {
  float: left;
  /* width: 100%; */
  text-align: center;
  /* border: 1px solid black; */
}

.right {
  float: right;
  /* width: 100%; */
  text-align: right;
  /* border: 1px solid black; */
}

.center {
  float: center;
  /* width: 100%; */
  text-align: center;
  /* border: 1px solid black; */
}
