<div class="main-content" style="margin-top: 10px ;">
  <div class="container-fluid">
    <app-fee-depense-info-dash></app-fee-depense-info-dash>
    <app-fee-depense-perconsultant-dash></app-fee-depense-perconsultant-dash>
    <table>
      <tr>
        <td>
          <app-fee-depense-peryear-dash></app-fee-depense-peryear-dash>
        </td>
        <td style="width: 100%;">
          <span></span>
        </td>
        <td>
          <app-fee-depense-percategory-dash></app-fee-depense-percategory-dash>
        </td>
      </tr>
    </table>
    <app-fee-depense-permonth-dash></app-fee-depense-permonth-dash>
  </div>
</div>