<!--
<button *ngIf="listMsg && listMsg.length>0" (click)="isShowListMsg=!isShowListMsg" > <h3 class="badge badge-pill badge-danger"> {{listMsg?.length}} </h3> </button>
 -->

<div class="dropdown dropleft float-right" *ngIf="listMsg && listMsg.length>0">
    <button type="button" class="btn  dropdown-toggle" id="btn-msg-notif-open" data-toggle="dropdown">
      Notifications <span class="badge badge-pill badge-danger">{{listMsg?.length}} </span>
    </button>
    <div class="dropdown-menu">
        <br/>
        <table>
            <th> Date </th>
            <th> From </th>
            <!--
		 		<th> To </th>
		 		 -->
            <th> Message </th>
            <th> Type, Id </th>

            <tr *ngFor="let msg of listMsg; let i = index;">
                <td> {{msg.dateMsg | date : 'dd/MM/yyyy hh:mm:ss'}} </td>
                <td> {{msg.from.fullName}} </td>
                <!--
		     <td> {{msg.to.fullName}} </td>
		      -->
                <td> {{msg.msg}} </td>
                <td>
                    <button (click)="showTarget(msg)" id="btn-msg-notif-show-{{i}}">Show {{msg.type}} #{{msg.typeId}}</button>
                </td>
            </tr>
        </table>
    </div>
</div>
