<ng-template #addRangeDateView let-modal>
    <div class="modal-header">
        <h5 class="modal-title">ADD MULTI DATE RANGE</h5>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
    </div>
    <div class="modal-body">
        <table class="table table-striped table-bordered">
            <thead class="thead-light">
                <th>Activity</th>
                <th>Time</th>
                <th>Start date</th>
                <th>End date</th>
                <th>Actions</th>
            </thead>
            <tbody>
                <tr *ngFor="let item of data ;let index=index">
                    <td>{{item.activity.name}}</td>
                    <td>{{item.time}}</td>
                    <td>{{item.startDate | date :'dd-MM-yyyy'}}</td>
                    <td>{{item.endDate | date :'dd-MM-yyyy'}}</td>
                    <td>
                        <button class="btn btn-danger" id="btn-remove-cra-multi-date-{{index}}" (click)="removeItem(index)">Remove</button>
                    </td>
                </tr>
            </tbody>
        </table>
        <form (ngSubmit)="push()">
            <div class="form-group">
                <label>Select activity</label>
                <app-select #compoSelectActivity [selectId]="'select-activity'" [objectName]="'Activity'" [myList]="activities" [initObj]="myObj.activity" [objCaller]="this" onChangeCaller="onSelectActivity" [ObjectPropName]="'name'"></app-select>
                <div [hidden]="activityForm.valid" class="badge badge-danger">Activity is required</div>
            </div>
            <div *ngIf="activityForm.valid">
                <div class="form-group">
                    <label>Time</label>
                    <app-select #compoSelectTime [selectId]="'select-time'" [objectName]="'Time'" [myList]="times" [initObj]="myObj.time" [objCaller]="this" onChangeCaller="onSelectTime"></app-select>
                    <div [hidden]="timesForm.valid" class="badge badge-danger">Time is required</div>
                </div>
                <div class="form-group">
                    <label>Start date</label>
                    <label>End date</label>

                    <app-mz-date-picker-deb-fin #myDatePickerDebFin placeHolderDeb="Choix date debut" [myDatePickerDeb]="myObj.startDate" [onChangeCallerDeb]="'onStartDateInputChanged'" placeHolderFin="Choix date fin" [myDatePickerFin]="myObj.endDate" [onChangeCallerFin]="'onEndDateInputChanged'"
                        [objCaller]="this"></app-mz-date-picker-deb-fin>

                    <div [hidden]="myObj.startDate" class="badge badge-danger">Start date is required</div>
                    <div [hidden]="myObj.endDate" class="badge badge-danger">End date is required</div>
                </div>
                <button class="btn btn-primary" id="btn-cra-multi-date-add" type="submit" [disabled]="!myObj.activity || !myObj.time || !myObj.startDate || !myObj.endDate">
          ADD
        </button>
            </div>

        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-info" id="btn-cra-multi-date-save" type="submit" [disabled]="!(data.length>0)" (click)="update()">SUBMIT</button>
    </div>
</ng-template>
