
.grad1 {
    color: black;
    height: 10%;
    padding-top: 2%;
    background-color: #cccccc;
    background-image: repeating-linear-gradient( white 10%, rgb(0, 162, 255) 90%);
    margin-bottom: 1%;

    border-radius: 5px 0px 0px 5px;
	font-weight: bolder;
	text-align: center;
	/* display: block; */
    text-align: center;
    margin-top: 10%;
}

.grad2 {
    color: black;
    /* height: 10%; */
    padding-top: 1%;
    padding-bottom: 1%;
    background-color: #cccccc;
    background-image: repeating-linear-gradient( white 10%, rgb(0, 162, 255) 90%);
    /* margin-bottom: 1%; */
    /* margin-top: 10%; */

    border-radius: 5px 0px 0px 5px;
	font-weight: bolder;
	text-align: center;
	/* display: block; */
}