<!--  
<div class="card-body">
	<div style="display: flex; justify-content: center; align-items: center; " class=""> 
	<h3 id="title_list" class="card-title text-center py-3">{{getTitle()}}</h3>
	<button class='btn btn-primary' style="height: 40px; text-align: center; margin-left: 10px;" (click)="findAll()">Refresh</button>
</div>
	<ul class="text-center list-inline py-3">
	<li class="list-inline-item"><a [routerLink]="['/activityType_list']"  class="btn btn-info">List activityType</a></li>
	<li class="list-inline-item"><a [routerLink]="['/activityType_form']" [queryParams]="{isAdd:true}" class="btn btn-info">Add activityType</a></li>
	</ul>
</div>
-->

<app-activityType-list></app-activityType-list>
