<h3 class="card-title text-center py-3">{{title}}</h3>

<div style="text-align: center;">
    <button (click)="getNotifications(null, null)" id="btn-notif-refresh" class='btn btn-primary mr-1'>Refresh
    </button>
    <input type="checkbox" [(ngModel)]="refreshStarted" id="refreshStarted" name="refreshStarted" (click)="refresh()" />
    Every
    <input type="text" [(ngModel)]="refreshEverySec" id="refreshEverySec" name="refreshEverySec" type="number"
        style="width:70px" /> seconds.
</div>

<div class="card" *ngIf="myList && myList.length>0">
    <div class="card-body">

        <ul class="list-group-flush">
            <li class="list-group-item list-group-item-action flex-column align-items-start"
                *ngFor="let notification of myList | paginate: {itemsPerPage, currentPage, id:idPagination}; let index=index; trackBy: trackByNotificationId">
                <div class="d-flex w-100 justify-content-between">

                    <span>
                        <span *ngIf="notification.cra" aria-hidden="true" (click)="showCra(notification)"
                            attr.aria-label="{{getLabelShowCraConge(notification)}}" class="picto-item"> <button
                                id="btn-notif-show-cra-{{index}}">Voir</button> </span>

                        <span *ngIf="notification.noteFrais" aria-hidden="true" (click)="showFee(notification)"
                            attr.aria-label="{{getLabelShowCraConge(notification)}}" class="picto-item"> <button
                                id="btn-notif-show-fee-{{index}}">Voir</button> </span>

                        <span *ngIf="notification.currentDocument" aria-hidden="true"
                            (click)="showDocument(notification)"
                            attr.aria-label="{{getLabelShowCraConge(notification)}}" class="picto-item"> <button
                                id="btn-notif-show-doc-{{index}}">Voir</button> </span>
                    </span>


                    <h6 *ngIf="notification && notification.title" class="mb-2 h6">{{notification.title}}
                        <small> {{getTimeAgoNotification(notification)}} ago</small>
                    </h6>

                    <div>

                        <p *ngIf="notification.message" class="mb-2">{{notification.message}}.</p>
                        <small class="badge badge-info">{{notification.createdDate | date : 'dd-MM-yyyy HH:mm'}}</small>

                        <span aria-hidden="true" *ngIf="isShowBtns">

                            <span aria-hidden="true" (click)="changeViewed(notification)"
                                attr.aria-label="{{getBulle(notification)}}" class="picto-item">
                                <img src="{{getImgRead(notification)}}" width="30" height="30">
                            </span>

                            <span aria-hidden="true" (click)="showForm(notification)" aria-label="Edit"
                                class="picto-item">
                                <button id="btn-notif-edit-{{index}}">E</button> </span>

                            <span aria-hidden="true" (click)="deleteNotification(notification)" aria-label="Delete"
                                class="picto-item"> <button id="btn-notif-delete-{{index}}">X</button> </span>
                        </span>

                    </div>
                </div>

            </li>
        </ul>
        <br />
        <div *ngIf="isShowBtns">
            <pagination-controls (pageChange)="currentPage = $event" id="{{idPagination}}"></pagination-controls>
        </div>

        <div class="left" style="width: 50%;">
        </div>

    </div>
</div>
<div style="text-align: center;" *ngIf="isMyListEmpty()">
    Aucune notification.
</div>

<ng-template #detailsFeeView let-modal>
    <div class="card my-5">
        <div class="card-body">
            <div style="display: flex; justify-content: center; align-items: center; " class="">
                <h3 id="title_list" class="card-title text-center py-3">{{getTitle()}}</h3>
                <button style="height: 40px; text-align: center; margin-left: 10px;"
                    (click)="findAll()">Refresh</button>
            </div>

            <table class="table table-bordered table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">{{utils.tr('app.compo.frais.list.table.thead.title')}}</th>
                        <th scope="col">{{utils.tr('app.compo.frais.list.table.thead.date')}}</th>
                        <th scope="col">{{utils.tr('app.compo.frais.list.table.thead.category')}}</th>
                        <th scope="col">{{utils.tr('app.compo.frais.list.table.thead.amount')}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{ selectedFee.id }}</td>
                        <td>{{ selectedFee.title }}</td>
                        <td>{{ selectedFee.dateNf | date:'dd/MM/yyyy' }}</td>
                        <td>{{ selectedFee.category.name}}</td>
                        <td>{{ selectedFee.amount }}</td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
</ng-template>

<ng-template #detailsFeeView let-modal>
    <div class="card my-5">
        <div class="card-body">
            <div style="display: flex; justify-content: center; align-items: center; " class="">
                <h3 id="title_list" class="card-title text-center py-3">{{getTitle()}}</h3>
                <button style="height: 40px; text-align: center; margin-left: 10px;"
                    (click)="findAll()">Refresh</button>
            </div>

            <table class="table table-bordered table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Document</th>
                        <th scope="col">Catégorie</th>
                        <th scope="col" *ngIf="selectedDocument.categoryName">Nom Catégorie</th>
                        <th scope="col">Créer par</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{ selectedDocument.id }}</td>
                        <td>{{ selectedDocument.title }}</td>
                        <td>{{ selectedDocument.category.name}}</td>
                        <td *ngIf="selectedDocument.categoryName">{{ selectedDocument.categoryName}}</td>
                        <!-- <td>{{ selectedDocument.created_by.fullName }}</td> -->
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
</ng-template>
