<div class="row">
    <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
            <div class="card-header card-header-warning card-header-icon">
                <div class="card-icon">
                    <i class="material-icons">content_copy</i>
                </div>
                <p class="card-category"><b>{{feeDepensesGeneral?.sumcurrentmonth}}€</b></p>
            </div>
            <div class="card-footer">
                <div class="stats">
                    <i class="material-icons">date_range</i> Ce Mois
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
            <div class="card-header card-header-success card-header-icon">
                <div class="card-icon">
                    <i class="material-icons">store</i>
                </div>
                <p class="card-category"><b>{{feeDepensesGeneral?.sumcurrentyear}}€</b></p>
            </div>
            <div class="card-footer">
                <div class="stats">
                    <i class="material-icons">date_range</i> Cette Année
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
            <div class="card-header card-header-danger card-header-icon">
                <div class="card-icon">
                    <i class="material-icons">info_outline</i>
                </div>
                <p class="card-category"><b>{{feeDepensesGeneral?.sumpredmonth}}€</b></p>
            </div>
            <div class="card-footer">
                <div class="stats">
                    <i class="material-icons">update</i> Mois dernier
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
            <div class="card-header card-header-info card-header-icon">
                <div class="card-icon">
                  <i class="material-icons">trending_up</i>
                </div>
                <p class="card-category"><b>{{feeDepensesGeneral?.sumpredyear}}€</b></p>
            </div>
            <div class="card-footer">
                <div class="stats">
                    <i class="material-icons">update</i> Année dernière
                </div>
            </div>
        </div>
    </div>
</div>