<ng-template #addMultipleActivityView let-modal>
    <div class="modal-header">
        <h5 class="modal-title">{{utils.tr('app.compo.activity.multiple.modal.title')}}</h5>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <table class="table table-striped table-bordered">
            <thead class="thead-light">
                <th>{{utils.tr('app.compo.activity.multiple.table.thead.activity')}}</th>
                <th>{{utils.tr('app.compo.activity.multiple.table.thead.consultant')}}</th>
                <th>{{utils.tr('app.compo.activity.multiple.table.thead.startDate')}}</th>
                <th>{{utils.tr('app.compo.activity.multiple.table.thead.endDate')}}</th>
                <th>{{utils.tr('app.compo.activity.multiple.table.thead.actions')}}</th>
            </thead>
            <tbody>
                <tr *ngFor="let item of activities ;let index=index">
                    <td>{{item.name}}</td>
                    <td>{{item.consultant.fullName}}</td>
                    <td>{{item.dateDeb | date :'dd-MM-yyyy'}}</td>
                    <td>{{item.dateFin | date :'dd-MM-yyyy'}}</td>
                    <td>
                        <button class="btn btn-danger"
                            (click)="removeItem(index)">{{utils.tr('app.compo.activity.multiple.table.actions.delete')}}</button>
                    </td>
                </tr>
            </tbody>
        </table>
        <form (ngSubmit)="push()" #activityForm="ngForm">
            <div class="row">
                <div class="col-6">
                    <div class="form-group">
                        <label for="consultantList">{{utils.tr('app.compo.activity.multiple.input.consultant')}}</label>

                        <app-select #compoSelectConsultant [selectId]="'consultant'" [objectName]="'Consultant'"
                            [myList]="consultantsOthers" [initObj]="myObj.consultant" [objCaller]="this"
                            onChangeCaller="onSelectConsultant" [ObjectPropName]="'fullName'"></app-select>

                        <div [hidden]="myObj.consultant" class="badge badge-danger">
                            {{utils.tr('app.compo.activity.multiple.input.consultant')}} is required</div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label for="typeActivityList">{{utils.tr('app.compo.activity.multiple.input.type')}}</label>
                        <app-select #compoSelectActivityType [selectId]="'activity'" [objectName]="'ActivityType'"
                            [myList]="activityTypes" [initObj]="myObj.type" [objCaller]="this"
                            onChangeCaller="onSelectActivityType" [ObjectPropName]="'name'"></app-select>

                    </div>
                </div>
            </div>

            <div *ngIf="myObj.type != null">
                <div class="form-group" *ngIf="isTypeMission ">
                    {{utils.tr('app.compo.activity.multiple.input.project')}}
                    <app-select #compoSelectProject [selectId]="'project'" [objectName]="'Project'" [myList]="projects"
                        [initObj]="myObj.project" [objCaller]="this" onChangeCaller="onSelectProject"
                        [ObjectPropName]="'name'"></app-select>
                </div>
                <div class="row">
                    <div class="col-6">
                        <div class="form-group">
                            <label>{{utils.tr('app.compo.activity.multiple.input.startDate')}} :
                                <!-- <span class="badge badge-secondary">{{myObj.dateDeb | date :'dd-MM-yyyy'}}</span> -->
                            </label>

                            <label>{{utils.tr('app.compo.activity.multiple.input.endDate')}} :
                                <!-- <span class="badge badge-secondary">{{myObj.dateFin | date :'dd-MM-yyyy'}}</span> -->
                            </label>

                            <app-mz-date-picker-deb-fin placeHolderDeb="Choix date debut"
                                [myDatePickerDeb]="myObj.dateDeb" [onChangeCallerDeb]="'onStartDateChanged'"
                                placeHolderFin="Choix date fin" [myDatePickerFin]="myObj.dateFin"
                                [onChangeCallerFin]="'onEndDateChanged'"
                                [objCaller]="this"></app-mz-date-picker-deb-fin>

                            <div [hidden]="myObj.dateDeb" class="badge badge-danger">
                                {{utils.tr('app.compo.activity.multiple.input.startDate')}} is required</div>
                            <div [hidden]="myObj.dateFin" class="badge badge-danger">
                                {{utils.tr('app.compo.activity.multiple.input.endDate')}} is required</div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="name">{{getActivityLabel()}}</label>
                    <input type="text" [(ngModel)]="myObj.name" class="form-control" id="name" name="name" required
                        #name="ngModel">
                    <div [hidden]="name.valid" class="badge badge-danger">{{getActivityLabel()}} is required</div>
                </div>

                <div class="form-group">
                    <label for="description">{{utils.tr('app.compo.activity.multiple.input.description')}}</label>
                    <textarea name="description" id="description" class="form-control" [(ngModel)]="myObj.description"
                        rows="3" #description="ngModel">
              </textarea>
                </div>
                <div class="form-group left">
                    <label for="hourSup">{{utils.tr('app.compo.activity.multiple.input.hourSup')}}</label>
                    <input type="checkbox" [(ngModel)]="myObj.overTime" class="form-check-input"
                        style="margin-left: 10px;" id="hourSup" name="hourSup" (click)="isOverTime()">
                </div>
                <table class="table table-bordered table-striped" *ngIf="myObj.overTime">
                    <thead>
                        <th>{{utils.tr('app.compo.activity.multiple.hourSup.table.thead.target')}}</th>
                        <th>{{utils.tr('app.compo.activity.multiple.hourSup.table.thead.price')}}</th>
                        <th>{{utils.tr('app.compo.activity.multiple.hourSup.table.thead.percent')}}</th>
                        <th>{{utils.tr('app.compo.activity.multiple.hourSup.table.thead.actions')}}</th>
                    </thead>
                    <tbody>
                        <tr *ngFor="let aot of myObj.activityOverTimes;let index=index">
                            <td>{{aot.target}}</td>
                            <td>{{aot.price}}</td>
                            <td><input type="checkbox" id="percent" class="form-check-input" style="margin-left: 10px;"
                                    [checked]="aot.percent" [disabled]="true"></td>
                            <td>
                                <span class="badge badge-danger" (click)="deleteActivityOverTime(index)"><i
                                        class="feather icon-delete"></i></span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <select class="form-control" id="overTime" [(ngModel)]="activityOverTime.target"
                                    [ngModelOptions]="{standalone: true}">
                                    <option value="hour">
                                        {{utils.tr('app.compo.activity.multiple.hourSup.select.target.hour')}}</option>
                                    <option value="saturday">
                                        {{utils.tr('app.compo.activity.multiple.hourSup.select.target.saturday')}}
                                    </option>
                                    <option value="sunday">
                                        {{utils.tr('app.compo.activity.multiple.hourSup.select.target.sunday')}}
                                    </option>
                                    <option value="holiday">
                                        {{utils.tr('app.compo.activity.multiple.hourSup.select.target.holiday')}}
                                    </option>
                                </select>
                                <div [hidden]="activityOverTime.target" class="badge badge-danger">
                                    {{utils.tr('app.compo.activity.multiple.hourSup.table.thead.target')}} is required
                                </div>
                            </td>
                            <td>
                                <input type="number" id="price" class="form-control"
                                    [(ngModel)]="activityOverTime.price" [ngModelOptions]="{standalone: true}">
                                <div [hidden]="activityOverTime.price" class="badge badge-danger">
                                    {{utils.tr('app.compo.activity.multiple.hourSup.table.thead.price')}} is required
                                </div>
                            </td>
                            <td><input type="checkbox" id="activity-over-time-percent" class="form-check-input"
                                    style="margin-left: 10px;" [(ngModel)]="activityOverTime.percent"
                                    [ngModelOptions]="{standalone: true}" [disabled]="activityOverTime.target=='hour'">
                            </td>
                            <td>
                                <span class="badge badge-primary" (click)="addActivityOverTime()"
                                    *ngIf="activityOverTime.target && activityOverTime.price"><i
                                        class="feather icon-plus-circle"></i>{{utils.tr('app.compo.activity.multiple.hourSup.table.actions.add')}}</span>
                            </td>
                        </tr>
                    </tbody>
                </table>l
                <br />
                <ul class="right">
                    <li class="list-inline-item">
                        <button type="submit" id="btn-add-new-acitivity" [disabled]="!activityForm.form.valid"
                            class="btn btn-info">{{utils.tr('app.compo.activity.multiple.actions.add')}}
                        </button>
                    </li>
                </ul>

            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-info" id="btn-valid-activities" type="submit" [disabled]="!(activities.length>0)"
            (click)="update()">{{utils.tr('app.compo.activity.multiple.actions.submit')}}</button>
    </div>
</ng-template>