<!-- <div class="card-body">
	<div style="display: flex; justify-content: center; align-items: center; " class=""> 
	<h3 id="title_list" class="card-title text-center py-3">{{getTitle()}}</h3>
	<button class='btn btn-primary' style="height: 40px; text-align: center; margin-left: 10px;" (click)="findAll()">Refresh</button>
</div>
	<ul class="text-center list-inline py-3">
	<li class="list-inline-item"><a [routerLink]="['/consultant_list']"  class="btn btn-info">List consultant</a></li>
	<li class="list-inline-item"><a [routerLink]="['/consultant_form']" [queryParams]="{isAdd:true}" class="btn btn-info">Add consultant</a></li>
	</ul>
</div> -->

<app-consultant-list></app-consultant-list>
