<!-- <infors #infors></infors> -->
<div class="card my-5">
    <div class="card-body">
        <div style="display: flex; justify-content: center; align-items: center; " class="">
            <h3 id="title_list" class="card-title text-center py-3">{{getTitle()}}</h3>
            <button class='btn btn-primary' style="height: 40px; text-align: center; margin-left: 10px;" (click)="findAll()">Refresh</button>
        </div>

        <div style="width: 40%;" name="searchDiv" class=" right">
            <input id="searchStr" #searchStrInput class="form-control left" style="width: 90%;" type="text"
                placeholder="search" name="searchStr" [(ngModel)]="searchStr" (keyup)="search()"
                (mouseover)="enableInputSearchStr()" [readonly]="dataSharingService.isDisableSearchStrInput">
            <button class="right" style="width: 10%; height: 40px; text-align: center;"
                (click)="clearSearch()">X</button>
        </div>

        <table class="table table-bordered table-striped">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Date</th>
                    <th scope="col">Login</th>
                    <th scope="col">IP</th>
                    <th scope="col">PAYS</th>
                    <th scope="col">Ville</th>
                    <th scope="col">Carte</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let element of myList | paginate: {itemsPerPage, currentPage, id:'list1'}; let i = index"
                    [className]="element.id == getIdOfCurentObj() ? 'active' : 'inactive'">
                    <td>{{ element.id }}</td>
                    <td>{{ element.dateConnection | date: 'dd/MM/yyyy HH:mm:ss' }}</td>
                    <td>{{ element.login }}</td>
                    <td>{{ element.ip }}</td>
                    <td>{{ element.country }}</td>
                    <td>{{ element.city }}</td>
                    <td><a [href]="element.googleMapsUrl" target="_blank">Voir</a></td>
                </tr>
            </tbody>
        </table>

        <div class="left" style="width: 50%;" *ngIf="nbCallServer == 0">
            <pagination-controls (pageChange)="currentPage = $event" id="list1"></pagination-controls>
        </div>

    </div>
</div>
