<button id="close" mat-button type="button" mat-dialog-close class="right">X</button>
<p></p>
<br/>
<!-- <infors #infors></infors> -->
<div class="card">
    <div class="card-header">

        <div style="text-align: center;" class="pcoded-micon bold"><i class="feather icon-settings"></i> {{getEsnCurrentName() | uppercase }}
            <br> {{userConnected?.fullName  | titlecase}}
            <br> {{userConnected?.email  }}
            <br> {{userConnected?.role  }}
            <br> <br>
            <div *ngIf="userConnected.adminConsultant">
                <h4>Manager: <br>
                {{userConnected.adminConsultant.email}} </h4>
                <br><br>
            </div>
        </div>

        <a routerLink="" *ngIf="isLoggedIn()" id="btn-user-connected-logout" class="btn btn-outline-primary" (click)="logout()" mat-dialog-close>
            <span class="ml-1">Log out</span>
        </a>
        <a routerLink="/login" *ngIf="!isLoggedIn()" id="btn-user-connected-login" class="btn btn-outline-dark" routerLinkActive="active" mat-dialog-close>
            <span class="ml-1">Log in</span>
        </a>
    </div>
    <div class="card-body" *ngIf="userConnected">
        <div class="form-group">
            <label for="password1"> <b>Change password:</b> </label>
            <input type="password" (ngModelChange)="validatePassword($event)" (ngModel)="null" class="form-control" id="password1" name="password1" placeholder="Enter your password" required #password1="ngModel">
        </div>
        <div class="form-group">
            <input type="password" (ngModel)="null" class="form-control" id="password2" name="password2" placeholder="Enter same password" required #password2="ngModel">
        </div>
        
        <!-- Password validation errors -->
        <div *ngIf="passwordErrors && passwordErrors.length > 0" class="alert alert-danger">
            <div *ngFor="let error of passwordErrors" class="badge badge-danger mr-2">
                {{error}}
            </div>
        </div>

        <div [hidden]="password1.valid && password2.valid && password1.value==password2.value && passwordErrors.length === 0" class="alert alert-danger">
            password is required and must meet all criteria
        </div>

        <button [hidden]="!(password1.valid && password2.valid && password1.value==password2.value && passwordErrors.length === 0)" (click)="changePassword(password1.value)" id="btn-user-connected-changePw" class="btn btn-primary">Change
    </button>

    </div>
    <div class="card-footer center" *ngIf="userConnected">
        <a routerLink="my-profile" *ngIf="isLoggedIn()" id="btn-user-connected-manageAccount" class="btn btn-outline-dark" mat-dialog-close>
            <span class="ml-1">Manage your account</span>
        </a>
    </div>
</div>
